<<<<<<< Updated upstream
@tailwind base;
@tailwind components;
@tailwind utilities;
=======
@import "tailwindcss";

/* Theme */

:root{

    --background:#ffffff;

    --foreground:#1e293b;

    --card:#ffffff;

    --border:#e5e7eb;

    --muted:#f8fafc;

    --muted-foreground:#64748b;

}

/* Dark */

.dark{

    --background:#0f172a;

    --foreground:#f8fafc;

    --card:#1e293b;

    --border:#334155;

    --muted:#1e293b;

    --muted-foreground:#cbd5e1;

}

body{

    background:var(--background);

    color:var(--foreground);

}

.bg-background{
    background:var(--background);
}

.text-foreground{
    color:var(--foreground);
}

.bg-card{
    background:var(--card);
}

.border-border{
    border-color:var(--border);
}

.bg-muted{
    background:var(--muted);
}

.text-muted-foreground{
    color:var(--muted-foreground);
}
>>>>>>> Stashed changes
